.contact_sec{
margin-top: 80px;
}
.cont_text{
    padding: 20px 0px;
}
.tag29{
    font-family: 'Playball', cursive;
    position: relative;
    padding-bottom: 30px;
}
.tag29::after{
position: absolute;
content: "";
width: 70px;
height: 3px;
background: #d6d6d6;
top: 58px;
left: 0;
}
.cont_text p{
    font-size: 16px;
color: #777777;
margin-top: 30px;
}
.header_icon3 ul{
    list-style-type: none;
}
.header_icon3 ul li{
    padding: 15px 0px;
}
.header_icon3 ul li a:hover{
text-decoration: none;
}
.header_icon3 ul li i{
    font-size: 30px;
    margin-right: 20px;
    color: #0f3556;
}
.header_icon3 ul li span{
    color: #666;
}
.contact_form{
    margin-top: 15px;
}
.contact_form .form-group input{
    height: 50px;
border: none;
 
border-bottom: 2px solid #d4d2d2;
border-radius: 0px;
padding: 0px;
outline: none;
-webkit-box-shadow: none;
box-shadow: none;
font-size: 13px;
font-family: "Open Sans", sans-serif;
font-style: italic;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.contact_form .form-group input:focus{
 border-bottom: 2px solid #0f3556;
}
.form-control::-moz-placeholder{
    color: #a0b9d1;
}
.contact_form .form-group textarea{
    height: 150px;
    margin-top: 20px;
    border: none;
     border-bottom: 2px solid #d4d2d2;
    border-radius: 0px;
    padding: 0px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.contact_form .form-group textarea:focus{
    border-bottom: 2px solid #0f3556; 
}
.contact_btn{
    background: #0f3556;
    border: 2px solid #0f3556;
    color: white;
    padding: 8px 45px;
    border-radius: 4px;
    transition: all 0.3s ease;
    margin: 30px 0px 30px 15px;
}
.contact_btn:hover{
    background: white;
    text-decoration: none;
    color: black;
}
.cont_div{
    padding: 20px 0px;
}

