
.rooms_Sec{
    margin-top: 50px;
}
.room_Img{
    width: 100%;
    overflow: hidden;
    
}
.room_Img img{
    width: 100%;
    height: 100%;
}
.rooms_detailDiv{
    border: 1px solid gainsboro;
    margin: 30px 0px;
}

.star_rating{
    float: right;
}
.star_rating ul{
    list-style-type: none;
}
.star_rating ul li{
    display: inline;
    
}
.star_rating ul li i{
    font-size: 13px;
    color: #b0914f;
}
.details_Sec{
    padding: 30px 30px 0px;
}
.details_Sec h3 a{
    color: #0f3556;
    font-weight: bold;
    text-transform: uppercase;
}
.details_Sec h3 a:hover{
    text-decoration: none;
}
.tag16{
    padding: 10px 0px;
    font-size: 16px;
    color: #828c95;
    margin-bottom: 0px;
}
.details_room{
    list-style-type: none;
}
.details_room li{
    color: #5e6976;
font-size: 17px;
padding-bottom: 5px;
}
.details_room li span{
margin-left: 10px;
}
.price-sec{
    border-top: 1px solid gainsboro;
    padding: 20px 20px 10px;
}
.price-sec h4{
    font-size: 15px;
color: #828c95;
}
.price-sec h4 span{
    color: #263e5b;
font-size: 36px;
font-weight: 700;
}
.tag17{
    float: right;
}
.tag17 a{
    font-size: 15px;
    font-weight: normal;
    color: white;
    background: #0f3556;
    border: 2px solid #0f3556;
padding: 7px 14px;
border-radius: 4px;
transition: all 0.4s ease;
}
.tag17 a:hover{
    text-decoration: none;
    color: black;
    background:white;
}