*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.header{
background: rgba(0,0,0,0.3);
padding-top: 6px;

position: absolute;
z-index: 99999 !important;
width: 100%;
}
.header_row{
    border-bottom: 1px dashed #7f7f7f;
    padding: 5px 0px 10px;
}
.bookNow_btn{
  
    font-size: 15px;
    text-align: center;
    border-bottom: 1px solid #b0914f;
    padding-bottom: 4px;
    position: relative;
}
.bookNow_btn::after{
position: absolute;
height: 7px;
width: 7px;
background: #b0914f;
bottom: -4px;
left: -3px;
content: "";
border-radius: 50%;

}
.bookNow_btn::before{
    position: absolute;
    height: 7px;
    width: 7px;
    background: #b0914f;
    bottom: -4px;
    right: -3px;
    content: "";
    border-radius: 50%;
    
    }
   
.bookNow_btn a{
    color: #b0914f;
    font-weight: bold;
}
.bookNow_btn a:hover{
    text-decoration: none;
   color:#b0914f;
} 

.contact a{
color: white;
font-size: 14px;
}
.contact a:hover{
    text-decoration: none;
    color:white;
}

.email a{
color: white;
font-size: 14px;
}
.email a:hover{
    text-decoration: none;
    color:white; 
}
.header_icon{
    list-style-type: none;
    float: right;
    margin-bottom: 0;

}
.header_icon li{
    display: inline-block !important;
   margin-right: 7px;
    color: white;
}
.header_icon li a{
    color: white;
    font-size: 14px;

}
.header_icon li a:hover{
    color: #b0914f;
}
.icon_div{
    height: 28px;
    width: 28px;
    border: 2px solid #b0914f;
    border-radius: 50%;
    text-align: center;
    padding-top: 2px;
}
.header_nav{
    background: transparent;
   
}
.navv{
    background: rgba(255,255,255,0.2);
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 999999 !important;
}
.stick_tab_1{
    z-index: 99999 !important;
    position: sticky;
    top: 0;
    left: 0;
    background: black;
  
}
.navbar{
    list-style-type: none;
    margin-bottom: 0;
    padding: 0 !important;
}
.navbar li{
    display: inline;
    padding: 20px 0px;
}
.logo_div{
   padding: 0px !important;
}
.logo_div img{
    width: 100%;
    max-height: 100px;
}
.navbar li a{
   color: white;

}
 .design{
    border-bottom: 1px solid #b0914f;
    padding-bottom: 9px;

}
 .design::after{
    position: absolute;
    height: 7px;
    width: 7px;
    background: #b0914f;
    bottom: 9px;
    
    content: "";
    border-radius: 50%;
    
    }
 .design::before{
        position: absolute;
        height: 7px;
        width: 7px;
        background: #b0914f;
        bottom: 9px;
        left: -7px;
        content: "";
        border-radius: 50%;
        
        }
.navbar li a:hover{
    text-decoration: none;
   
}
/* ========================dropdown====================== */
.main_menu{
    position: relative;
}
.main_menu a i{
    font-size: 12px;
}
.main_menu:hover .sub-menu{
    transform: scaleY(1);
    }
 .sub-menu{
    position: absolute;
     background-color: rgba(255,255,255,0.2);
     width: 150px;
    top: 64px;
     z-index: 999999 !important;
     left: -30px;
      transform: scaleY(0);
     transform-origin: center;
    transition: all 0.3s ease-in 0.2s;
 }

.sub-menu li{
  text-align: center;
border-bottom: 1px solid #b0914f;
display: block !important;
padding: 10px 0px;
}
.sub-menu li a{
   color: white ;
    text-decoration: none;
}
#events{
    left: -6px;
}
/* =====================================hide nav====================== */
.hide_navBar{
    position: relative;
    display: none;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #0f3556;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 0px 7px 0px;
    margin: 0px 30px;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    color: white;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid #818181;
}

.sidenav a:hover {
    color: #f1f1f1;
    text-decoration: none;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 0px;
    font-size: 36px;
 border-bottom: none;
}
 .toggle{
    font-size: 15px;
cursor: pointer;
     color: white;
 display: inline-block;
 position: absolute;
    right: 0;
 border: 2px solid #0f3556;
 background: #0f3556;
padding: 2px 10px;
    margin-top: 10px;
 top: 0;
border-radius: 4px;
} 
/* .logo{
    display: none;
} */
/* ========================================== */
.slider1{
    position: relative;
}
.first_sliderImg{

   width: 100%;
}

.left_control{
    width: 6% !important;
}
.right_control{
    width: 6% !important;
}
.img_text{
    position: absolute;
    z-index: 9999 !important;
    top: 45%;
    left: 28%;
}
.img_text h2{
    font-family: 'Playfair Display', serif;
font-size: 80px;
font-weight: bold;
color: white;
}
 .booking_schedule{
   position: absolute;
    top:70%;
   z-index: 999 !important;
    width: 100%;
} 
.booking_boxOuter{
    padding-right: 0px !important;
}
.booking_div{
    background: #f0f0f0;
    padding: 15px;
}
.booking_box{
    background: white;
    padding: 15px;
    text-align: left;
}
.checking_logo{
    background-image: url("../images/box2.png");
    background-position: center;
}
.checking_logo a p{
    font-size: 31px;
font-weight: bold;
font-style: italic;
line-height: 1.47;
text-align: center;
color: white;
padding: 18px ;
margin-bottom: 0px;
transition: all 0.3s ease-in;
}

.checking_logo a:hover{
    text-decoration: none;
}
.booking_form .form-group input, select{
    border: none;
    padding-top: 15px;

    padding-left: 0px;
     width: 100%;
}
.booking_form .form-group input:focus{
    box-shadow: none;
}
.booking_box p{
   font-size: 17px;
    text-align: left;
    color: #7b7b7b;
    border-bottom: 1px solid #cac6c6;
    padding-bottom: 10px;
    margin-bottom: 0;
    font-weight: bold;
}
.booking_form .form-group{
    border-bottom: 1px solid #cac6c6;
   margin-top: 5px;
}
/* ========================button=================== */
#myBtn {
    display: none;
    position: fixed;
    bottom: 13px;
    right: 35px;
    z-index: 99999;
    font-size: 15px;
    border: none;
    outline: none;
    background: #0f3556;
    border: 1px solid #0f3556;
    border-radius: 30px 0px 30px 30px;
    transform: rotate(-45deg);
    color: white;
    cursor: pointer;
    padding: 10px 14px;
   }
   #myBtn i{
    transform: rotate(44deg);
    /* font-size: 20px;
    width: 14px; */
   }
 .welcome_sectoin{
    margin: 40px 0px 30px;
}
.tag1{
    color: #b0914f;
    font-size: 18px;
}
.tag2{
  
    display: inline-block;
    padding-bottom: 10px;
    font-size: 40px;
    position: relative;
    font-family: 'Playfair Display', serif;
    color: #0f3556;
}

.welcome_div{
    margin-top: 70px;
    position: relative;
}
.welcome_div::before{
    position: absolute;
content: '';
right: 200px;
top: -33px;
width: 655px;
height: 450px;
border: 6px solid #0f3556;
}
.image_div{
    width: 100%;
    overflow: hidden;
 }
.image_div img{
    width: 100%;
    
}
.image_text {
   
    padding: 40px 20px ;
}
.image_text h4{
    position: relative;
}
.image_text h4::after{
position: absolute;
content: "";
background: #b0914f;
width: 25%;
top: 46px;
height: 2px;
left: 0;
}
 .image_text p{
    color: #777777;
    font-size: 17px;
    margin-top: 50px;
}
.service_div{
    width: 100%;
    margin-top: 100px;
    position: relative;
}
.service_div > img{
    width: 100%;
     height: 300px; 
}
.service_div::after{
    position: absolute;
    left: 20px;
    right: 20px;
    top: 20px;
    bottom: 20px;
    content: '';
    opacity: 0;
    transition: opacity 0.3s, transform 0.4s;
    z-index: 5;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;

    transform: scale(0, 1);
}
.service_div::before{
    border-right: 5px solid #fff;
    border-left: 5px solid #fff;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 20px;
    bottom: 20px;
    content: '';
    opacity: 0;
    transition: opacity 0.3s, transform 0.4s, -webkit-transform 0.4s;
    z-index: 5;
    transform: scale(1, 0);
}
 .service_div:hover::after, .service_div:hover::before{
    transform: scale(1);
    transform-origin: center;
    opacity: 1;
}
.pic3{
    position: relative;
}
.facility_image .pic3:before,
.facility_image .pic3:after{
    content: "";
    width: 100%;
    height: 50%;
    background: rgb(15, 53, 86,0.5);
    position: absolute;
    top: -100%;
    
    transition: all 0.4s ease 0s;
}
.facility_image .pic3:after{
 
    top: auto;
    left: auto;
    bottom: -80%;
    right: 0%;
}
.pic3 i{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    opacity: 0;
    font-size: 40px;
    transition: all 0.3s ease 0s;
color: black;
    z-index: 99;
}
.facility_image:hover .pic3 i{
    opacity: 1;
}
.facility_image:hover .pic3:before{
    top: 0;
 
 }
 .facility_image:hover .pic3:after{
      bottom: 0; 
 }
.facility_image .pic3 img{
    width: 100%;
    height: auto;
}
.logo_image {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
.logo_image p{
    color: white;
    font-size: 30px;
    padding-top: 30px;
}
.facilities_section{
    margin-top: 50px;
}
.facilities_section > img{
    margin: 10px 0px 40px;
}
.facilities_icon{
    list-style-type: none;
}
.facilities_icon li{
    padding: 20px 0px;
}
.facilities_icon li span{
    margin-left: 25px;
}
.facility_image{
    width: 100%;
    overflow: hidden;
}
.facility_image img{
    width: 100%;
}

.Our_roomsSection{
  
    background-image: linear-gradient(rgba(0, 0, 0,0.8),rgba(0, 0, 0,0.8)),url("../images/3.jpg");
    background-size: cover;
    
    margin: 50px 0px 0px;
    background-attachment: fixed;
    padding: 85px 0px 150px;
}
.room_image{
    width: 100%;
    overflow: hidden;
}
.room_image img{
    width: 100%;
    
}
.room_text{
    background: white;
    padding: 17px;
}
.room_textInner{
    border: 1px solid #b0914f;
    padding: 30px;
}
.room_textInner p{
    color: #777777;
font-size: 15px;
margin-top: 15px;
}
.room_price{
    color: #333333;
font-size: 30px;
font-weight: 700;
}
#btnn{
    margin-top: 11px;
}
.room_price span{
    color: #0f3556;
    font-size: 15px;
}
.book_nowbtn{
    border: 2px solid #0f3556;
    background: none;
    font-size: 12px;
    padding: 8px 21px;
    transform: skewX(-25deg);
     margin-top: 11px; 
    transition: all 0.4s ease-in;
    font-weight: bold;
}
.book_nowbtn:hover{
background: #0f3556;
color: white;
}
.room_image2{
    padding: 20px 15px 20px 16px;
}
.room_image2 .design_icon{
    width: auto !important;
    margin: 0 auto;
}
.room_image2 h4{
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}
 .room_slider{
    margin-top: -100px;
} 
.room_slider .container{
    background: white;
}
.carousel_section{
    margin: 55px 0px 0px;
}
.testimonial_bgImg{
    width: 100%;
  
    background-image: linear-gradient(rgba(0, 0, 0,0.8),rgba(0, 0, 0,0.8)),url("../images/4.jpg");
    background-size: cover;
    background-position: center center;
  height: 100%;
  padding: 30px 0px;
  background-attachment: fixed;
}
.testimonial{
    padding-bottom: 30px;
    margin: 30px 0px 30px; 
}
.testimonial h3{
    font-size: 30px;
    font-weight: 600;
    text-transform: none;
    letter-spacing: 0px;
    color: #ffffff;
    padding-bottom: 30px;
}

.testimonial_text{
margin-top: 20px;
}
.testimonial_text p{
    color: #c4c8ff;
    font-size: 17px;
   padding: 0px 23px;
    line-height: 1.5;
    font-weight: 500;
}
 .client_name{
    padding-top: 20px ;
} 
.client_name i{
    color: white;
    font-size: 27px;
}
.client_name span{
    margin-left: 10px;
color: white;
font-size: 16px;
font-weight: 500;
letter-spacing: 1px;
  font-family: "Montserrat", sans-serif; 
}
.client_name p{
    color: #acb2ff;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
font-weight: normal;
font-size: 13px;
margin-left: 40px;
}
.client_img{
    border: 2px solid white;
    border-radius: 50%;
    padding: 8px;
    height: 80px;
    width: 80px;
    margin: 0 auto;
}
.client_img img{
border-radius: 50%;
}
.slider3{
    position: absolute;
bottom: 10px !important;
}
.slider3 li.active{
    border: 2px solid white !important;
    height: 6px !important;
    width: 37px !important;
    background: white !important;
    border-radius: 0px !important;
}
.slider3 li.active:after{
    display: none !important;
}
.slide3_indicator{
    border: 2px solid white !important;
height: 6px !important;
width: 37px !important;
background: transparent !important;
}
.news_section{
   padding: 50px 0px 70px;
background: #f9f9f9;
}
.news_img{
    width: 100%;
    overflow: hidden;
    height: 100%;
}
.news_img img{
    width: 100%;
    height: 100%;
}
.news_details{
    padding: 10px 0px 0px 25px;
    color: #0f3556;
}
.date{
    font-size: 18px;
    border-bottom: 1px solid #b0914f;
   
    display: inline;
}
.tag5{
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0px 6px;
  }
.tag6{
    font-size: 14px;
    color: #828c95;
    padding-top: 4px;
}
.book_nowbtn2{
    border: 2px solid #0f3556;
background: #0f3556;
font-size: 12px;
padding: 7px 13px;
border-radius: 0px 13px;
transition: 0.4s all ease;
color: white;
}
.book_nowbtn2:hover{
    background: white;
    color: black;
}
.news_box{
    border-right: 3px solid #0f3556;
    padding-bottom: 15px;
}
.news_box2{
    border-left: 3px solid #0f3556; 
    padding-bottom: 15px;
}
.news_box2::after{
    content: "";
    position: absolute;
    bottom: 64%;
    border-top: 32px solid white;
    border-right: 30px solid transparent;
    z-index: 1;
    right: -30px; 
}
.news_div{
    border: 1px solid whitesmoke;
    background: white;
    margin-top: 30px;
    box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.1);
}
.news_box::after{
    
    content: "";
    position: absolute;
    bottom: 64%;
    border-top: 32px solid white;
    border-left: 30px solid transparent;
    z-index: 1;
    left: -30px;
    }
.gallary_section{
        position: relative;
    }
.gallery_image{
        width: 100%;
        overflow: hidden;
        position: relative;
    }
.gallery_image::before{
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(0,0,0, 0.4);
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 1;
        transition: all 0.3s ease;
    }
.gallery_image:hover::before{
        top: 0;
    }
 .gallery_imageimg{
        width: 100%;
        height: auto;
 
        transition: all 0.3s ease 0s;
    }

.gallery_image img{
    width: 100%;
}
.gallary_tab{
position: absolute;
transform: translate(-50%,-50%);
top: 50%;
left: 50%;
padding: 10px 35px;
background: white;
transition: all 0.4s ease;
z-index: 999 !important;
}
.gallary_tab:hover{
    background: #0f3556;
   
}
.gallary_tab:hover  span a{
    color: white;
} 
.gallary_tab span a{
    font-size: 18px;

line-height: 1.67;
letter-spacing: 2.6px;
color: #333333;
font-family: 'Playfair Display', serif;
}
.gallary_tab span a:hover{
    text-decoration: none;
}
/* ===============================footer==================================== */
.footer{
    padding: 30px 0px;
    background: #333333;
}

.addrs li img{
    width:150px;
}
.addrs{
    list-style-type: none;
}
.addrs li{
    padding: 10px;
}
.addrs li i{
    color: #b0914f;
}
.addrs li span{
    color: white;
    margin-left: 10px;
    font-size: 16px;
    font-weight: normal;
}
.addrs_div{
    margin-top: 10px;
}
.addrs2{
list-style-type: none;
}
#heading{
    color: #b0914f;
    font-weight: bold;
    font-size: 19px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    border-bottom: 1px solid #b0914f;
    display: inline;
}
#heading::after{
    position: absolute;
    height: 7px;
    width: 7px;
    background: #b0914f;
    bottom: -4px;
    left: -3px;
    content: "";
    border-radius: 50%;
    
    }
#heading::before{
        position: absolute;
        height: 7px;
        width: 7px;
        background: #b0914f;
        bottom: -4px;
        right: -3px;
        content: "";
        border-radius: 50%;
        
        }

.addrs2{
    margin-top: 30px;
}
.addrs2 li{
    padding: 6px;
   
}
.addrs2 li a{
    color: white;
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 5px;
}

.addrs2 li a:hover{
    text-decoration: none;
    color: #b0914f;
}
.contact_form2 input[type=text]{
    border: none;
background: white;
padding: 10px 20px;
margin: 5px 0px;
font-weight: normal;
color: black;
width: 100%;
font-size: 13px;
}
.addrs_div4{
    margin-top: 30px;
}
.addrs_div4 img{
    margin-top: 10px;
}
.footer2{
    padding: 10px;
    background: #282828;
}
.foot_note p{
 color: #838383;
 font-family: "Open Sans", sans-serif;
 font-weight: normal;
margin-top: 13px;
}
.footer_icon{
    float: right;
    margin-top: 8px;
}

